<!DOCTYPE html>
<html ng-app="security">
<head>
    <title ng-bind="$state.current.data.pageTitle"></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Security page(s)">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/customers-app.css" rel="stylesheet">
    <link href="/assets/angular-ui-router-anim/anim-in-out.css" rel="stylesheet">

</head>
<body>


<div flex layout="column" layout-fill tabIndex="-1" role="main" class="main-layout">
    <header>
        <md-toolbar layout="row" class="md-whiteframe-z1 md-padding" layout-align="center center">
            <!--<h1> International Auto Service</h1><span flex></span><company-logo></company-logo><span flex></span><md-button class="md-icon-button "><md-icon class="">account_circle</md-icon></md-button>-->
            <div flex="25"><h1 flex> Projects Starter App</h1></div>
            <div flex="50" layout="row" layout-align="center center"><a href="/">
                <company-logo></company-logo>
            </a></div>
            <div flex="25" layout="row" layout-align="right center"><span flex></span>
                <md-button ng-hide="true" class="primary">
                    <md-icon class="">account_circle</md-icon>
                    Login
                </md-button>
            </div>

        </md-toolbar>
    </header>
    <div ng-view></div>
    <main flex layout="row" layout-align="center">
        <div flex="66" layout="column">
            <div ui-view></div>
        </div>
    </main>
</div>


<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-messages.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>


<!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script>
<script src="/src/security/security.js"></script>
<script src="/src/security/controllers/loginController.js"></script>
<script src="/src/security/controllers/forgotPasswordController.js"></script>
<script src="/src/security/controllers/resetPasswordController.js"></script>
<script src="/src/security/factories/SignUpFactory.js"></script>
<script src="/src/security/controllers/signUpController.js"></script>
</body>
</html>